baseURL: "https://hugo-profile.netlify.app"
languageCode: "en-us"
title: "Cris Silva"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1
    - identifier: gallery
      name: Gallery
      title: Blog posts
      url: /gallery
      weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Cris Silva"
  description: Text about my cool site
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # When using hex codes for colors, quotations must be used along with the # sign
  # color:
  #   textColor: "#343a40"
  #   secondaryTextColor: "#6c757d"
  #   backgroundColor: "#eaedf0"
  #   secondaryBackgroundColor: "#64ffda1a"
  #   primaryColor: "#007bff"
  #   secondaryColor: "#f8f9fa"

  #   darkmode:
  #     textColor: "#e4e6eb"
  #     secondaryTextColor: "#b0b3b8"
  #     backgroundColor: "#18191a"
  #     secondaryBackgroundColor: "#212529"
  #     primaryColor: "#ffffff"
  #     secondaryColor: "#212529"

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Cris Silva" # Brand name for the brand | default is the title variable
    disableSearch: false
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable : true
      showOnScrollUp : true
    enableSeparator: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Cris Silva"
    subtitle: "I blend curiosity with bioeconomy to drive impactful research."
    content: "I'm a passionate researcher modeling biological, environmental, and economic processes in industrial biotechnology. And I grow fungi too!"
    image: /images/hello.svg
    bottomImage:
      enable: true
    roundImage: true  # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "#"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/TheCrisSilva
        #- icon: fab fa-x-twitter
          #url: https://example.com
        - icon: fab fa-instagram
          url: https://www.instagram.com/crisdiroma/
        #- icon: fab fa-facebook
          #url: https://www.facebook.com/crisdiroma
        #- icon: fab fa-youtube
          #url: https://www.linkedin.com/in/cris-silva1996/
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/cris-silva1996/
      #customIcons:
        #- icon: /fav.png
          #url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/smile-cris.svg"
    content: |-
      I am a biotechnologist with a passion for industrial application. I have a background in molecular biology and microbiology, and I have a strong interest in computational biology and modelling.

      Apart from science, I make videos, take cool photos and lift weights.
    skills:
      enable: true
      title: "Here are a few topics I've been working with recently:"
      items:
        - "Life cycle analysis"
        - "Bioprocess design"
        - "Transcriptomics"
        - "Fungal biotechnology"
        - "Genome scale modelling"
        - "Technoeconomic Analysis"

# Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      
      - job: "Guardian of the Bio Lab"
        company: "DreamSpace Academy"
        companyUrl: "https://dreamspace.academy/pages/1-0-index.php"
        date: "Sep 2020 - Dec 2021"
        featuredLink:
          enable: true
          url: "https://dreamspace.academy/pages/3-2-6-dreamfungi.php"
        info:
          enable: true
          content: I worked as the guardian of DreamSpace for two years.
        content: |
          Dreamspace Biolab was the first community biolab in Sri Lanka, and I had the privilege of being a founding guardian. With support from Dreamspace Academy, I built the lab from scratch, launched the DreamFungi project, developed prototypes, and hosted workshops for experts from around the world.

          - Built and maintained the community Bio Lab of Dreamspace academy.
          - Facilitated collaberations between Bio Lab and international organizations.
          - Coduct workshops and teaching courses on mycofabrication and bioinformatics

      - job: "Research Assistant"
        company: "University of Peradeniya"
        companyUrl: "https://www.pdn.ac.lk/"
        date: "Sep 2020 - Dec 2021"
        #featuredLink:
          #enable: true
          #url: "https://example.com"
        info:
          enable: true
          content: I worked as a research assistant for more than one year in University of Peradeniya.
        content: |
          I worked as a research assistant at the University of Peradeniya, supported by the World Bank AHEAD ICE grant. My work focused on the Sri Lankan cinnamon industry and bioinformatics.

          - Conducted market research on the Sri Lankan cinnamon industry and identified key industry problems.
          - Developed a bioinformatics analysis pipeline to analyze fluorescent light emission in high-resolution melting analysis (HRM).
          - Utilized supervised and unsupervised machine learning methods for clustering and classification of HRM data.
          - Conducted preliminary work to utilize the no-code platform KNIME for QSAR modeling in drug discovery.

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Master of Biotechnology and Bioeconomy"
        school:
          name: "University of Borås, Sweden"
          url: "https://www.hb.se/en/"
        date: "2023 - 2025"
        #GPA: "3.8 out of 5.0"
        content: |-
          Research 
            - Assessing the potential of Rhizopus oligosporus as a fish feed ingredient (thesis)
            - Life cycle assessment of fungal biomass as an ingredient in fish feed.
      - title: "Bachelor of Science in Biotechnology"
        school:
          name: "University of Northumbria, UK"
          url: "https://example.org"
        date: "2018 - 2019"
        #GPA: "3.9 out of 5.0"
        content: |-
          
          - Effect of extraction solvent on antioxidant capacity and antimicrobial activity of Trigonella foenum-graecum (thesis)
          - Modules: Analytical methods and applied genetics, Animal biotechnology, Plant biotechnology, Bioethics, Current topics in Biotechnology, Investigative biotechnology, Research project.
      - title: "Higher National Diploma in Biotechnology"
        school: 
         name: "BMS, Sri Lanka"
         url: "https://www.bms.ac.lk/" 
        date: "2016-2018"
        content: |-
          - Optimization of real-time PCR method for detection of Salmonella spp. in meat products in Sri Lankan markets (project)


          
        #featuredLink:
          #enable: true
         # name: "My academic record"
          #url: "https://example.com"
      - title: "High School"
        school:
          name: "St. Joseph Vaz College, Sri Lanka"
          url: "http://www.josephvazcollege.lk/"
        date: 2015
        content: |-

         Extra Curricular Activities
           - School Karate Team

      #GPA: "4.2 out of 5.0"
        #featuredLink:
         # enable: true
          #url: "https://example.com"

  # Achievements
  achievements:
    enable: true
    # title: "Custom Name"
    items:
      - title: Recipient of Swedish Institute Scholarship for Global Professionals (2023)  | Swedish Institute
        content: I was honored to receive the SI scholarship in 2023, one of only nine recipients from Sri Lanka and among 299 globally from 41 eligible countries. This scholarship recognizes individuals who have demonstrated leadership and practical experience in advancing their country's sustainable development. My efforts focused on Sustainable Development Goal 9, promoting industry, innovation, and infrastructure.
        url: https://si.se/en/apply/scholarships/swedish-institute-scholarships-for-global-professionals/
        image: /images/SI-logo.jpg
      - title: 100 Leaders of Tommorows Biotechnology (2022) | GBR Cambridge
        content: I was selected from a large pool of applicants as one of the top 100 future leaders in the biotechnology industry. The "Leaders of Tomorrow" program recognizes high-achieving individuals from around the world who work in fields ranging from biological sciences to business and policymaking. Through a rigorous selection process, 100 leaders are chosen to attend the GapSummit, where they are challenged and empowered to become socially responsible and driven innovators, capable of creating solutions to today's challenges.
        image: /images/GBR-lot.jpg
      - title: Node Leader, DinaCon (2022) | DinaLabs Batticaloa
        content: I was selected as a node leader at Dinacon 22, where I conducted workshops on mycelium material fabrication and collaborated on various projects throughout the conference.
        url: "https://www.2022.dinacon.org/"
        image: /images/dinacon.jpeg
      #- title: Microsoft Imagine Runner
     #   content: We are developed a product which can help others.
     # - title: Google Summer of Code
     #   content: Contributed to a open source project.
      #  url: https://example.com

  # projects
  projects:
    enable: false
    # title: "Custom Name"
    items:
      - title: Hugo Profile
        content: A highly customizable and mobile first Hugo template for personal portfolio and blog.
        image: /images/projects/profile.png
        featured:
          name: Demo
          link: https://hugo-profile.netlify.app
        badges:
          - "Hugo"
          - "Bootstrap"
          - "Javascript"
        links:
          - icon: fa fa-envelope
            url: mailto:?subject=Hugo%20Profile%20Template&body=Check%20it%20out:%20https%3a%2f%2fhugo-profile.netlify.app%2fblog%2fmarkdown-syntax%2f
          - icon: fab fa-github
            url: https://github.com/gurusabarish/hugo-profile
          - icon: fab fa-twitter
            url: https://twitter.com/intent/tweet?text=Check+it+out:&url=https%3A%2F%2Fgithub.com%2Fgurusabarish%2Fhugo-profile

      - title: Image Converter
        content: A web app to convert image to pdf, png to jpg, png to jpg and png to webp without database using django.
        image: /images/projects/converter.jpg
        featured:
          name: Demo
          link: https://django-converter.herokuapp.com
        badges:
          - "Django"
          - "Bootstrap"
        links:
          - icon: fab fa-github
            url: https://github.com/gurusabarish/converter

      - title: Hugo Profile V2
        content: A clean and simple Hugo template for personal portfolio and blog.
        image: /images/projects/profile2.jpg
        featured:
          name: Demo V2
          link: https://hugo-profile-2.netlify.app
        badges:
          - "Hugo"
          - "Bootstrap"
          - "Javascript"
        links:
          - icon: fab fa-github
            url: https://github.com/gurusabarish/HugoProfileV2

         

  #Contact
  contact:
    enable: false
    # title: "Custom Name"
    content: My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
    btnName: Mail me
    btnLink: mailto:gurusabarisha@gmail.com
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
    #   messageRows: 5

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: true
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/TheCrisSilva
      linkedin: https://www.linkedin.com/in/cris-silva1996/
      twitter: https://x.com/crisdiroma
      instagram: https://www.instagram.com/crisdiroma/
      facebook: https://www.facebook.com/crisdiroma

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    socialShare: true
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
    tags:
      openInNewTab: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
